:root {
  --flipping-word-bottom: 2px;
}

body {
  background: #404071;
}

.layout-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 100px 70% 200px;
}

.bird-layout-item {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column-reverse;
  max-height: 100%;
}

.controls-layout-item {
  grid-row: 3;
  grid-column: 2;
}

.btn.copy {
  display: none;
  border-color: orange;
  border-top: none;
}

.btn img {
  width: 100%;
  height: 100%;
  padding-left: 2px;
}

.flipped .btn.copy {
  display: block;
  width: 50px;
  height: 50px;
  background: transparent;
}

.bird-row {
  position: relative;
  display: block;
  white-space: nowrap;
  font-family: arial;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 5px solid orange;
}

span.animatable {
  display: inline-grid;
}

.bird {
  cursor: pointer;
  pointer-events: all;
  display: inline-block;
}

.unflipped .arm {
  transform-origin: center left;
  transform: rotate(45deg);
}

.flipping .arm {
  animation-duration: 0.5s;
  animation-name: lift-arms;
  transform-origin: center left;
}

@keyframes lift-arms {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0);
  }
}

.unflipped .boing {
  display: none;
}

.flipping .boing {
  animation: 1s slidein;
  transform-origin: left center;
  overflow: hidden;
}

@keyframes slidein {
  from {
    width: 0px;
  }
  to {
    width: 32px;
  }
}

.word {
  border: none;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  bottom: var(--flipping-word-bottom);
  background: transparent;
}

.flipped .word {
  display: none;
}

.table {
  display: inline-block;
}

.flipping .flipper {
  animation-duration: 1s;
  animation-name: flip-over;
  transform-origin: center;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes flip-over {
  from {
    display: initial;
  }
  50% {
    bottom: 60%;
  }
  to {
    transform: rotate(180deg);
    /* margin-left: 100px; */
    margin-left: 41px;
    bottom: var(--flipping-word-bottom);
  }
}

.bird-row .upside-down {
  display: none;
}

.flipped .upside-down {
  display: inline-block;
}

.unflipped .shake:active {
  animation: shake-mad;
  animation-iteration-count: infinite;
}

.unflipped .shake.nope {
  animation: shake-nope;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes shake-nope {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake-mad {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}